body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

nav {
    background-color: #b0d4e3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0078d4;
}

.profile-icon,
.logout-icon {
    margin-left: auto;
    cursor: pointer;
    display: flex; /* Para alinear verticalmente el icono */
    align-items: center; /* Alineación vertical del icono */
}

.profile-icon img,
.logout-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container {
    padding: 2em;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

#open-form-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#open-form-button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 2em;
}

form div {
    margin-bottom: 1em;
}

form label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

form input {
    padding: 5px;
    width: 200px;
}

form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 1em;
    text-align: left;
}

button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #d32f2f;
}

#update-button {
    background-color: #ff9800;
}

#update-button:hover {
    background-color: #fb8c00;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip img {
    width: 12px; /* Tamaño del icono ajustado */
    height: 12px; /* Tamaño del icono ajustado */
    vertical-align: middle;
    margin-right: 8px; /* Espacio entre el texto y el icono */
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0.9;
}

.tooltip:hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.logout-icon {
    margin-left: 20px; 
    cursor: pointer;
}

.logout-icon img {
    width: 40px; 
    height: 40px;
}
